@import "tailwindcss";

@theme {
    --color-spenny-text: #ffffff;
	--color-spenny-background: #1f2937;
	--color-spenny-primary: #4ade80;
	--color-spenny-secondary: #3e6054;
	--color-spenny-accent-base: #46fa22;
    --color-spenny-accent-primary: #5bd0b1;
    --color-spenny-accent-warning: #ebb030;
    --color-spenny-accent-error: #e12424;
}